*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 40px 180px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;

    
}
nav li{
    list-style: none;
    
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.title{
    color: #131313;
    font-size: 40px;
    
}
.banner-title{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;

}
.banner-h{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.banner-p{
    font-size: 16px;
    color: #727272;
    font-weight: 400;
}
.btn-primari{
    background-color: #FF900E;
    color: white;

    border: none;
    border-radius: 8px;
    padding: 15px 20px;
}
.banner img{
    width: 100%;
    margin-top: 20px;

}
main{
    max-width:1000px;
    margin: auto;
    
}
.container{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.team-pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.team-pic img{
    width: 250px;
    height: 250px;
    
}
.team-text{
    padding-left: 70px;
    padding-right: 70px;
}
.section-feature{
    display: flex;
    gap: 10px;
    margin-top: 130px;
    
}
.feature-content .feature-card{
   padding: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    
}
.feature-content .feature-text{
    border-left: 5px solid #FF900E;
    padding-left: 5px;
    
}
 .feature-pic img{
    width: 500px;
    
}
.ten-btn{
    width: 300px;
    color: white;
    padding: 20px;
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
   position: relative;
   bottom: 50px;
    
}
.ten-btn h2{
    font-size: 60px;
    margin: 0;
}
.ten-btn p{
    font-size: 25px;
}
.team-h{
    font-size: 45px;
}
.team-h .quick-list{
    color: #727272;
    font-weight: 500;
}
.team-h .Features{
    color: #FF900E;
    font-weight: 700;
}
.section-icon{
    display: flex;
    justify-content: space-around;
}
.section-icon .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 10px;
}
.card .card-title{
    font-size: 45px;
    color: #424242;
    font-weight: 600;
    margin: 20px;
    
}
.card .card-para{
    font-size: 20px;
    color: #727272;
    font-weight: 600;
    margin-top:  15px;
   
   
}
.sponsors{
    text-align: center;
}
.sponsors-img{
    display: flex;
    justify-content: space-evenly;
   margin-top: 40px;
   gap: 20px;
   align-items: center;
}
.sponsors-img img{
    width: 166px;
}
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .container, .section-feature, .section-icon, .sponsors-img{
        flex-direction: column;
    }
    .team-pic{
        grid-template-columns: 1fr;
    } 
    .section-icon{
        margin: 0%;
        padding: 20px;
        gap: 5px;
    }
    .feature-pic img{
        width: 400px;
       
    }
    .section-feature{
        padding: 10px;
    }

   
}
