*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 40px 180px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;

    
}
nav li{
    list-style: none;
    
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.title{
    color: #131313;
    font-size: 40px;
    
}
.banner-title{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;

}
.banner-h{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.banner-p{
    font-size: 16px;
    color: #727272;
    font-weight: 400;
}
.btn-primari{
    background-color: #FF900E;
    color: white;

    border: none;
    border-radius: 8px;
    padding: 15px 20px;
}
.banner img{
    width: 100%;
    margin-top: 20px;

}
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }

    
}
